@media (max-width: 768px) {
  header {
    height: 38svh;
  }
  header img {
    width: 100px;
  }
  header h1 {
    font-size: 40px;
    color: white;
    font-weight: normal;
  }
}
@media (max-width: 900px) {
  .howWeAre .container {
    display: flex;
    flex-direction: column;

    gap: 40px;
  }
  .howWeAre .container .imageHow img {
    width: 100%;
  }
  .howWeAre .container .infoHow {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
footer h3 {
    font-weight: normal;
    font-size: 13px;
}
footer h2 {
    font-size: 18px;
}

}
